* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html { 
    background-color: #353535;
    background-image: url("https://r1.ilikewallpaper.net/iphone-se-wallpapers/download/21653/Abstract-Gray-Texture-Background-iphone-se-wallpaper-ilikewallpaper_com.jpg");
    background-attachment: fixed;
}

body{
    width: 95%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 0px 20px 20px 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 5px solid black;
}

/* .nav-bar {
    display: flex;
    display: hidden;
    margin-bottom: 25px;
    justify-content: center;
    
}

.ul-nav {
    display: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #bbbbbb;
    width: 100%;
}

li {
    display: inline-block;
    display: hidden;
    /* flex-shrink: 10; */
    /* list-style: none;
    display: inline; 

}

li a {
    display: hidden;
    color: #666;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    text-size-adjust: 14px;
}

li a:hover:not(.active) {
    color: white;
    background-color: #7a7a7a;
}

li a.active {
    color: white;
    background-color: #7a7a7a;
    /*olive green color
} */

.img-center {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.img-me {
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
h1{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    color: #88a2bb;
    text-align: center;
}

h3{
    display: flex;
    padding: 20px 0;
    /* text-align: center; */
    justify-content: center;
    color: #88a2bb;
    font-size: 22px;
}

h4{
    padding: 10px;
}

p {
    display: flex;
    justify-content: center;
    margin: 20px 30px;
    padding: 20px 10px;
    color: #688097;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
}

.about-me {
	border-top: 1px solid #8c8b8b;
	text-align: center;
}

.skills {
    border-top: 1px solid #8c8b8b;
	text-align: center;
}

.skills-list ul {
    text-align: center;
}

.skills li {
    display: inline-block;
    justify-content: space-between;
    list-style: none;
    padding: 20px 5px 20px 5px;
}

.projects {
    border-top: 1px solid #8c8b8b;
    text-align: center;
    padding: 20px 0 20px 0;
}

.project-content {
    display: inline-block;
    padding: 20px 5px 40px 5px;
    overflow: hidden;
}

.project-divider {
    border-top: dashed 1px black;
    margin-top: 40px;
}

.contact {
    display: block;
    border-top: 1px solid #8c8b8b;
	text-align: center;
}

#form-container{
    display: flex;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#form-input {
    align-items: left;
    width: 75%;
}

.contact a{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/* .contact {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
} */

.content-info {
    display: block;
    justify-content: center;
}


a:link.contact-link {
    color: rgb(102, 102, 255);
}
a:visited.contact-link {
    color: rgb(102, 102, 255);
}
a:hover.contact-link {
    background-color: #ffffff;
}

@media screen and (min-width: 500px) {
    body{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}

    .nav-bar{
        margin-left: auto;
        margin-right: auto;
        width: 50%; 
    }

    h1{
        display: flex;
        /* justify-content: center; */
        padding: 20px 0;
        color: #7b92a8;
        text-shadow: -1px -1px 1px black;
        text-align: center;
    }
    
    p {
        display: flex;
        justify-content: center;
        padding: 20px 10px;
        color: #688097;
        text-align: center;
    }
}